body {
    padding-top: 70px;
}

.hidden-div {
    display: none;
}

.form-actions {
    padding-top: 10px;
}

.card-top-pad {
    padding-top: 10px;
}

.ticket-operations {
    float: left;
    margin-left: 5px;
}

.queue-logo {
    height: 50px;
    margin-right: 10px;
    width: 50px;
}

.off {
    display: none;
}

h1,
h2,
h3 {
    vertical-align: middle;
}

h1>.badge,
h2>.badge,
h3>.badge {
    vertical-align: middle;
}

@media screen and (max-width: 480px) {
    body {
        padding-top: 70px;
    }
}

.user-avatar {
    height: 24px;
    margin-left: 10px;
    margin-right: 10px;
    width: 24px;
}

.g-recaptcha {
    margin-top: 10px;
}


/* change the background color */

.navbar-custom {
    background-color: #24283B;
}


/* change the brand and text color */

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255, 255, 255, .8);
}


/* change the link color */

.navbar-custom .navbar-nav .nav-link {
    color: rgba(255, 255, 255, .8);
}


/* change the color of active or hovered links */

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}

.rtop, .rbottom { display: block; padding: 0px; margin: 0px }
.rtop *, .rbottom * { display: block; height: 1px; overflow: hidden; padding: 0px }
.r1 {margin: 0 5px}
.r2 {margin: 0 3px}
.r3 {margin: 0 2px}
.r4 {margin: 0 1px; height: 2px}
/* end rounded corners */

.infobox {
	float: right;
	clear: right;
	margin: 0 0 .5em 1em;
	width: 250px;
	background: none;
	border-collapse: collapse;
	border-width: 0px;
	font-size: 0.8em;
	line-height: 1.5;
}

.infobox table.infoboxtable {
	background:#f0f0f0;
	float:right;
	margin:0;
	width:100%;
	border-collapse:collapse;
}
.infobox td.infoboximage {
	padding:0;
	text-align:center;
        width: 270px;
}
.infobox th.infoboxheading {
	font-weight:bold;
	text-align:center;
	color:#ffffff;
	font-size:larger;
}
.infobox th.infoboxsubheading {
	vertical-align:top;
	text-align:left;
	font-weight:normal;
}
.infobox td.infoboxlabel, .infobox td.infoboxcell {
	vertical-align: middle;
}

/* ugly hack to force normal height for infobox cells */
.infoboxcell p { margin-top: 0px; margin-bottom: 0px; }
/* .infoboxcell ul { list-style-type: disc; } */

.infoboxcell ul li {
	padding-left: 0;
	margin-left: 0;
	list-style-type: square;
}

/* Fix to hide random extra lines in infobox subheaders. */
.infoboxsubheading p {
	display: none;
}

.infobox div.plainlinks {
	color: #fff;
}

.infobox div.plainlinks a {
	color: #f0f0f0;
}

.info-boxtable tr:nth-child(even),
.infoboxtable tr:nth-child(even) { background-color: #F9F9F9 }

.inboximage {
	width: 270px;
}

.navbar-admin {
  background: #0f0c29;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* change the brand and text color for the admin panel */

.navbar-admin .navbar-brand,
.navbar-admin .navbar-text {
    color: rgba(255, 255, 255, 0.8);
}


/* change the link color for the admin panel */

.navbar-admin .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.8);
}


/* change the color of active or hovered links for the admin panel */

.navbar-admin .nav-item.active .nav-link,
.navbar-admin .nav-item:hover .nav-link {
    color: #00000;
}

.inlb {
  display:inline-block
}

.navbar-mod {
  background: #667db6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* change the brand and text color for the admin panel */

.navbar-mod .navbar-brand,
.navbar-mod .navbar-text {
    color: rgba(255, 255, 255, 0.8);
}


/* change the link color for the admin panel */

.navbar-mod .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.8);
}


/* change the color of active or hovered links for the admin panel */

.navbar-mod .nav-item.active .nav-link,
.navbar-mod .nav-item:hover .nav-link {
    color: #00000;
}
